body {
    box-sizing: border-box;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand';
    color: black;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 300;
}

:root {
    --main-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiaire-color: #99E2D0;

    font-family: 'Roboto', sans-serif;
}

.btn-purple {
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}

.btn-purple:hover {
    filter:brightness(110%) drop-shadow( 0px 10px 15px -4px rgba(0, 0, 0, 0.25));
    transition: 1s;
}


.btn-shadow {
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.15);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.fa-circle-check {
    color: var(--tertiaire-color);
}

.fa-utensils .fa-handshake {
    color: fafafa;
}

.fa-arrow-left {
    color: black;
}
/* - - - - - - - - - - - - - - Like button starts — - - - - - - - - - - - - - -  */

main .heart-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    top: 9px;
}

main .heart-btn .like-btn {
    box-sizing: border-box;
    position: relative;
    fill: transparent;
    background: transparent;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
}

input[type="checkbox"] {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    width: 32px;
    height: 27px;
}

.liked {
    position: absolute;
    z-index: 1;
    display: none;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: content-box;
    -webkit-background-clip: text;
    transition: all 1s ease-in-out;
}

.like {
    display: block;
}

.like-size {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 30px;
    top: 0px;
    left: 0px;
}

input[type="checkbox"]:checked + .like-btn::before {
    animation: ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + .like-btn::after {
    animation: ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + .like-btn > .liked{
    display: block;
    transition: all 1s;    
}

input[type="checkbox"]:checked + .like-btn > .like{
    display: none;
    transition: all 1s;
}

main .central-title {
    box-sizing: border-box;
}

main .central-title h1 {
    width: 90%;
}

/* - - - - - - - - - - - - - - Like button ends — - - - - - - - - - - - - - -  */

/* - - - - - - - - -  Header starts - - - - - - - - - - - - - - */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 375px;
    height: 63px;
    align-items: center;
    position: relative;
    left: -31px;
}

header img {
    position: relative;
    width: 162px;
    left: -31px;
}


/* - - - - - - - - -  Header starts - - - - - - - - - - - - - - */

/* - - - - - - - - -  Main starts - - - - - - - - - - - - - - - */

main {
    box-sizing: border-box;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

main .central-photo {
    box-sizing: border-box;
    width: 375px;
    height: 275px;
}

main .central-photo img {
    width: 100%;
    object-fit: cover;
    position: center;

}

main .central-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    top: -56px;
    padding: 0 20px 0 13px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #F6F6F6;    
}

main div h1 {
    font-family: 'Shrikhand';
    margin-bottom: 0;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

main .central-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: -20px;
}

main section .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 17px;
    padding: 0 0 20px 0;
}

main section h2.titles-plats {
    margin: 0;
}

main section .downline-title-plats {
    width: 40px;
    border-bottom: #99E2D0 solid 4px;
}

main section .plat {
    box-sizing: border-box;
    width: 349px;
    height: 69px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.10)
}

input.checking-plat {
    width: 100%;
    height: 69px;
}

main .plat button {
    width: 100%;
    height: 69px;
    border: none;
    background: white;
    border-radius: 15px;
}

main section .plat h3 {
    margin: 0;
    padding: 10px 10px 12px 10px;
}

main section .checked-plat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

main section .plat-description {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px 10px 10px;
    margin-bottom: 0;
    height: 19px;
    font-weight: 300;
}

main .plat-description :nth-last-child(1) {
    font-size: 1.2rem;
    font-weight: 700;
}

main section .choiced-plat {
    position: absolute;
    top: 66.9px;
    left: 280px;
    background-color: #99E2D0;
    width: 69px;
    height: 69px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    text-align: center;
    z-index: -1;
}

main section .circled-choiced {
    position: absolute;
    color: #99e2d0;
    z-index: 2;
    top: 23px;
    left: 24px;
    background: white;
    border-radius: 25px;
}

.last-item-of-group {
    margin-bottom: 30px;
}

/* - - - - - - - - - Animation selected plat starts - - - - - - - - - */

input[type="checkbox"]:checked + .checked-plat-btn::before {
    animation: ease-in 0.4s forwards;
    transition: margin-right 2s;
}

input[type="checkbox"]:checked + .checked-plat-btn::after {
    animation: ease-in 0.4s forwards;
    transition: margin-right 2s;
}

input[type="checkbox"]:checked + .checked-plat-btn > .checked-plat{
    transition: margin-right 2s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

input[type="checkbox"]:checked + .checked-plat-btn > .unchecked-plat{
    transition: margin-right 2s;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }

/* - - - - - - - - - Animation selected plat ends - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - -  Main ends - - - - - - - - - - - - - - - */


/*- - - - - - - - - - - - - - - Footer starts - - - - - - - - - - - - - - -*/

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 375px;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    background-color: #353535;
    color: white;
}

footer a {
    display: flex;
    gap: 15px;
}

footer a h3 {
    margin: 0;
    height: 17px;
    padding-bottom: 16px;
    font-family: 'Shrikhand';
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


/*- - - - - - - - - - - - - - - Footer ends - - - - - - - - - - - - - - -*/