$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1440px;


@media (min-width: 376px) and (max-width: $breakpoint-medium) {
    /* Ajustements généraux pour les tablettes */
    body {
        padding: 10px; /* Marge intérieure réduite pour les écrans plus petits */
    }
    
    .l-header {
        display: flex;
        justify-content: center;
        left: 0;
    }
    
    .l-hero-div, .l-restaurant {
        padding-bottom: 30px; /* Ajout d'un espace en bas pour améliorer la lisibilité */
    }
    
    .l-footer {
        width: auto; /* Ajustement de la largeur pour s'adapter à l'écran plus petit */
    }

    .l-restaurant {
        gap: 20px;
    }
    
    /* Ajustements spécifiques pour les composants */
    .btn {
        width: 60%; /* Bouton prend toute la largeur de l'écran */
    }
    
    .wraper-steps-boxes {
        width: 90%;
    }

    .steps-area--title {
        width: 90%;
        left: 0; /* Centrer le titre des étapes */
    }

    .container-steps-box {
        width: 100%;
    }
    
    .steps-box {
        width: unset; /* Boîte d'étapes prend toute la largeur de l'écran */
        gap: 25px;
    }
    
    .restaurant {
        width: 90%;
    }
    
    .restaurant-area-title {
        width: 90%;
        left: 0;
        padding: 30px 0 0;    
    }

    .container-restaurants {
        top: -25px;

    }

    .restaurant--a {
        position: relative;
        height: unset;
        top: 0;

        align-items: center;

    }

    .restaurant--fig {
        height: 100%;
    }
    
    .restaurant--img {
        object-position: 100% -40px;
        
    }

    .restaurant--label {
        top: -2vh;
        width: 90%;

    }

        .restaurant--label-info {
            line-height: 10px;
        }

        .restuarant--label-info-p {
            margin-bottom: 0;
        }
    
    .like-area {
        top: -6vh;
        left: 85%;
    }
        
    .restaurant--tag-new {
        display: none; /* Masquer la balise "nouveau" sur les écrans plus petits */
    }
    
    .footer-a {
        padding-left: 30px;
    }

    .footer-links {
        align-items: left; /* Centrer les liens du pied de page */
    }
    }
