$breakpoint-small: 768px;
$breakpoint-medium: 1079px;
$breakpoint-large: 1440px;


@media (min-width: 376px) and (max-width: $breakpoint-medium) {
    /* Ajustements généraux pour les tablettes */
    body {
        padding: 10px; /* Marge intérieure réduite pour les écrans plus petits */
    }

    
    .l-hero-div, .l-restaurant {
        padding-bottom: 30px; /* Ajout d'un espace en bas pour améliorer la lisibilité */
    }
    
    .l-footer {
        width: auto; /* Ajustement de la largeur pour s'adapter à l'écran plus petit */
    }

    .l-restaurant {
        gap: 20px;
    }
    
    /* Ajustements spécifiques pour les composants */
    .btn {
        width: 60%; /* Bouton prend toute la largeur de l'écran */
    }
    
    .wraper-steps-boxes {
        width: 90%;
    }

    .steps-area--title {
        width: 90%;
        left: 0; /* Centrer le titre des étapes */
    }

    .container-steps-box {
        width: 100%;
    }
    
    .steps-box {
        width: unset; /* Boîte d'étapes prend toute la largeur de l'écran */
        gap: 10px;
    }
    
    .restaurant {
        width: 90%;
        margin-bottom: 0;
    }
    
    .restaurant-area-title {
        width: 90%;
        left: 0;
        padding: 30px 0 0;    
    }

    .restaurant--a {
        position: relative;
        height: unset;
        top: 0;

        align-items: center;
    }

    .restaurant--figure {
        height: 100%;
        top: 0;
    }
    
    .restaurant--img {
        object-position: 100% -40px;
        
    }

    .restaurant--label {
        top: -3vh;
        width: 90%;

    }

    .title-h3-homepage {
        margin-bottom: auto;
    }

        .restuarant--label-info-p {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    
    .like-area {
        top: -6.5vh;
        left: 85%;
    }
        
    .restaurant--tag-new {
        display: none; /* Masquer la balise "nouveau" sur les écrans plus petits */
    }
    
    .footer-a {
        padding-left: 30px;
    }

    .footer-links {
        align-items: left; /* Centrer les liens du pied de page */
    }
    }

    @media (min-width: 1080px) {

        .body {
            overflow-x: hidden;
            background-color: white;
        }
        .main-title {
            width: 80%;
            font-size: 40px;
            padding: 40px;
        }

        .container-steps-box {
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
        }

        .steps-box {
            width: -webkit-fill-available;
        }

        .l-restaurant {
            align-items: center;
        }

        .container-restaurants {
            flex-flow: row wrap;
            justify-content: space-between;
            top: 17px;
            max-width: 75%;
            gap: 5%;
            

        }

        .restaurant-area-title {
            left: -32%;
        }

        .restaurant {
            max-width: 490px;
            max-height: 251px;

            margin-bottom: 7%;
            flex: 1 1 380px;
        }

        .restaurant--a {
            max-width: 100%;
        }

        .restaurant--figure {
            height: inherit;
            top: 6px;
        }

        .restaurant--img-a-l-f {
            object-position: 24%;
        }

        .restaurant--label {
            top: 0px;
        }

        .restuarant--label-info-p {
            padding-bottom: 0;
        }

        .like-area {
            top: -52px;
            left: 87%;
        }

        .l-footer {
            max-width: 1440px;
        }

        .footer-links {
            flex-direction: row-reverse;
        }

        .footer-wraper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            gap: 50px;
        }

    }