
@import url('libs/functions.scss');
@import url('components/buttons.scss');
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
                    /*Base starts*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */

      /* - - - -  Composants starts - - - - */

$purple-color: rgba(146, 87, 219, 1);
$pink-color: rgba(255, 122, 217,1);
$green-pastel-color: rgba(153, 227, 208, 1);
$main-theme-color: $purple-color;
$second-main-color:$pink-color;
$tertiaire-color: $green-pastel-color;
$gradient-theme-color: linear-gradient($second-main-color, $main-theme-color);
$font-stack: ('Roboto', sans-serif);
$font-logo: ('Shrikhand', serif);
$base-font-size: 16px;


:root {
        font-family: $font-stack;
        font-size: $base-font-size;
    }
    
    body {
        box-sizing: border-box;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin: 0;
    }
    
    * h1 h2 h3 {
        font-family: $font-logo;
    
        color: rgba(0, 0, 0, 1)
    }

    %shadow {
        box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.15);
    }
    
    .btn {
        @extend %shadow;
        width: 218px;
        height: 50px;
    
        border: none;
        border-radius: 25px;
    
        background: $gradient-theme-color;
        color: rgba(255, 255, 255,1);
    
        size: 16px;
        font-weight: 500;
        text-align: center;
    
        &:hover {
            background: lighten($main-theme-color, 0.01);
            transition: all 2s;
        }
    }
    
    a {
        color: rgba(255, 255, 255,1);
    
        text-decoration: none;
    
        cursor: pointer;
        
    }
    
    .fa-regular {
        font-size: 25px;
    
        color: rgba(0, 0, 0, 1)
    }
    
    .posrel {
        position: relative;
    }
/* - - - - - - - - - - - - - - Like button starts — - - - - - - - - - - - - - -  */

.like-area {
    top: -50px;
    left: 290px;
}

.btn-like {
    box-sizing: border-box;
    position: relative;
    top: -42px;

    outline: none;
    border: none;

    fill: transparent;
    background: transparent;
}

input[type="checkbox"] {
    top: -3px;
    left: -3px;
    z-index: 2;

    border: none;
    outline: none;

    opacity: 0;

    cursor: pointer;
    cursor: pointer;
}

.is-liked {
    display: none;
    position: absolute;
    z-index: 1;
    top: -11px;
    left: 0px;

    background-clip: content-box;
    
    color: transparent;
    background-image: linear-gradient($main-theme-color, $second-main-color);
    
    -webkit-background-clip: text;

    transition: all 1s ease-in-out;
}

.like {
    display: block;
    left: -6px;
}

.like-size {
    width: 30px;
    height: 30px;

    font-size: 30px;
}

input[type=checkbox] {
    &:checked + .btn-like::before {
        animation: ease-in 0.4s forwards;
    }

    &:checked + .btn-like::after {
        animation: ease-in 0.4s forwards;
    }

    &:checked + * .is-liked {
        display: block;
        transition: all 2s;
    }

    &:checked + * .like {
        display: none;
        transition: all 2s;
    }

}


/* - - - - - - - - - - - - - - Like button ends — - - - - - - - - - - - - - -  */

            /* - - - -  Composants ends - - - - */
    
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
                        /* Base ends */
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
    
    
    /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */   
    
    
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
                    /* Layout starts */
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
    
    .l-header {
        position: relative;
        top: 14px;
        left: 89px;
        height: 63px;
    }
    
    .l-main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        background-color: rgba(245, 245, 245, 1);
    }
    
    .l-hero-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding-bottom: 56px;
    }
    
    .l-restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 14px;
        padding-bottom: 59px;
    }
    
    .l-footer {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 375px;
    
        padding: 22px 25px 22px 25px;
        gap: 16px;
    
        background-color: rgba(54, 54, 54, 1);
        color: rgba(255, 255, 255, 1);
    }
    
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
                    /* Layout ends */
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
    
    
    /*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
    
    
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
                    /* Modules starts */
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
    
    /*- - - - - - - - - - - - - - - Header begins - - - - - - - - - - - - - - -*/
    
    .logo--img {
        width: 197px;
        height: 36px;
        object-fit: contain;
    }
    
    /*- - - - - - - - - - - - - - - Header ends - - - - - - - - - - - - - - -*/
    
    /*- - - - - - - - - - - - - - - Main starts - - - - - - - - - - - - - - -*/
    
    /*- - - - - - - - - - - - - - - Steps starts - - - - - - - - - - - - - - -*/
    .homepage-location-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 23px 0;
        width: 100%;
        
        gap: 17px;
    
        background-color: rgba(235, 235, 235, 1);
        box-shadow: inset 0px 2px 5px -5px;
        
    }
    
    .main-title {
        width: 275px;
    
        padding-top: 39px;
        margin: 0;
        
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    .subhead {
        padding: 18px 0 28px 0;
        margin: 0;
    
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    .steps-area {
        background-color: rgba(255, 255, 255, 1);
    }
    
        .steps-area--title {
            position: relative;
            left: -78px;
    
            padding: 28px 0 0 0;
            margin-bottom: 33px;
        }
    
    .steps-box {
        @extend %shadow;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 322.49px;
    
        margin-bottom: 22px;
        height: 73px;
    
        border-radius: 20px;
        border: none;
    
        background: rgba(245, 245, 245, 1);     
    }
    
        .steps-box--number {
            position: relative;
            width: 24px;
            height: 24px;
            left: -16px;
    
            border-radius: 50%;
    
            background-color: $main-theme-color;
            color: rgba(255, 255, 255, 1);
            
            text-align: center;
            font-size: 14.2px;
            line-height: 24.62px;           
        }
    
        .steps-box--icon {
            padding-right: 28px;
        }
    
        .steps-box--instruction {
            font-size: 16px;
            font-weight: 500;
        }
    
    /*- - - - - - - - - - - - - - - Steps ends - - - - - - - - - - - - - - -*/
    
    /*- - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
    
    /*- - - - - - - - - - - Restaurants starts - - - - - - - - - - - - - - - */
    
    .restaurant-area-title {
        left: -100px;
    
        margin: 30px 0 0 0;
    }
    
    .restaurant {
        box-sizing: border-box;
        width: 340px;
        height: 251px;
    
        padding-bottom: 14px;
    }   
    
        .restaurant--a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 251px;
            top: -3px;
    
            border-radius: 15px;
    
            background-color: rgba(255, 255, 255, 1);
            color: rgba(0, 0, 0, 1);
        }
    
        .restaurant--figure {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 171px;
    
            margin: 0;
        }
    
        .restaurant--img {
            width: 100%;
            /*height: 231px;*/
            vertical-align: middle;
            object-fit: cover;
            object-position: 100% -44px;
            flex: 1;
    
            border-radius: 15px 15px 0 0;
        }
    
        .restaurant--la-note {
            object-position: 100% -150px;
            height: 183px;
        }
    
        .hide-new-restaurant-tag {
            object-position: 100% 150%;
            display: none;
        }
    
        .restaurant--tag-new {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 80px;
            height: 29px;
    
            border-radius: 2px;
    
            background-color: $tertiaire-color;
            color:#008766;
    
            text-align: center;
            line-height: 28px;
        }
    
        .restaurant--label {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 88%;
    
            padding: 20px 20px 0px;
            margin: 0;
            
        }
    
        .restaurant--label-info {
            align-items: flex-start;
    
            padding-bottom: 0;
    
            line-height: 0px;
        }
    
        .restuarant--label-info-p {
            padding-top: 5px;
    
            font-weight: 300;
            font-size: 17px;
        }
    
        /*- - - - - - - - - - - Restaurants ends - - - - - - - - - - - - - - - */
    
    /*- - - - - - - - - - - - - - - Main ends - - - - - - - - - - - - - - -*/
    
    
    /*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
    
    
    /*- - - - - - - - - - - - - - - Footer starts - - - - - - - - - - - - - - -*/
    
    .footer-links{
        display: flex;
        flex-direction: column;
        
        gap: 7px;
    }
    
    .footer-a {
        display: flex;
        gap: 15px;
    }
    
    .footer-title {
        margin: 0;
        height: 17px;
        padding-bottom: 16px;
        font-family: $font-logo;
    }
    
    
    /*- - - - - - - - - - - - - - - Footer ends - - - - - - - - - - - - - - -*/
    
    /*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
    
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */
                    /* Modules ends */
    /* - - - - - - - - - - - - - - - - - - - - - - - -  */