@charset "UTF-8";
body {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.btn {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(rgb(255, 122, 217), rgb(146, 87, 219));
  color: rgb(255, 255, 255);
  size: 16px;
  font-weight: 500;
  text-align: center;
}
.btn:hover {
  background: #9257db, #ff7ad9;
  transition: all 2s;
}

.l-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 375px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
}

.l-header {
  position: relative;
  top: 14px;
  height: 63px;
  text-align: center;
}

.l-hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 56px;
}

.l-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

.l-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-bottom: 59px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*Base starts*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - -  Composants starts - - - - */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255); /* Fond semi-transparent pour le loader */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s forwards; /* Animation de disparition après 3 secondes */
  z-index: 100;
}

.loader {
  border: 8px solid rgb(235, 235, 235);
  border-top: 8px solid rgb(255, 122, 217); /* Couleur principale 2 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    display: none;
  }
}
* h1 h2 h3 {
  font-family: "Shrikhand", sans-serif;
  color: rgb(0, 0, 0);
}

.steps-box, .btn {
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.15);
}

a {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.fa-regular {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.posrel {
  position: relative;
}

/* - - - - - - - - - - - - - - Like button starts — - - - - - - - - - - - - - -  */
.like-area {
  top: -33px;
  left: 290px;
}

.btn-like {
  box-sizing: border-box;
  position: relative;
  top: -42px;
  outline: none;
  border: none;
  fill: transparent;
  background: transparent;
}

input[type=checkbox] {
  top: -3px;
  left: -3px;
  z-index: 2;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  cursor: pointer;
}

.is-liked {
  display: none;
  position: absolute;
  z-index: 1;
  top: -11px;
  left: 0px;
  background-clip: content-box;
  color: transparent;
  background-image: linear-gradient(rgb(146, 87, 219), rgb(255, 122, 217));
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
}

.like {
  display: block;
  left: -6px;
}

.like-size {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

input[type=checkbox]:checked + .btn-like::before {
  animation: ease-in 0.4s forwards;
}
input[type=checkbox]:checked + .btn-like::after {
  animation: ease-in 0.4s forwards;
}
input[type=checkbox]:checked + * .is-liked {
  display: block;
  transition: all 2s;
}
input[type=checkbox]:checked + * .like {
  display: none;
  transition: all 2s;
}

/* - - - - - - - - - - - - - - Like button ends — - - - - - - - - - - - - - -  */
/* - - - -  Composants ends - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Base ends */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Modules starts */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*- - - - - - - - - - - - - - - Header begins - - - - - - - - - - - - - - -*/
.logo--img {
  width: 197px;
  height: 36px;
  object-fit: contain;
}

/*- - - - - - - - - - - - - - - Header ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Main starts - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Steps starts - - - - - - - - - - - - - - -*/
.homepage-location-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 23px 0;
  width: 100%;
  gap: 17px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0px 2px 5px -5px;
}

.main-title {
  width: 275px;
  padding-top: 39px;
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.subhead {
  padding: 18px 0 28px 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.steps-area {
  background-color: rgb(255, 255, 255);
}

.steps-area--title {
  position: relative;
  width: 90%;
  padding: 28px 0 0 0;
  margin-bottom: 33px;
}

.wraper-steps-boxes {
  width: 90%;
}

.steps-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 97%;
  margin-bottom: 22px;
  margin-left: 10px;
  height: 73px;
  border-radius: 20px;
  border: none;
  background: rgb(245, 245, 245);
}

.steps-box--number {
  position: relative;
  width: 24px;
  height: 24px;
  left: -16px;
  border-radius: 50%;
  background-color: rgb(146, 87, 219);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14.2px;
  line-height: 24.62px;
}

.steps-box--icon {
  padding-right: 28px;
}

.steps-box--instruction {
  font-size: 16px;
  font-weight: 500;
}

/*- - - - - - - - - - - - - - - Steps ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - Restaurants starts - - - - - - - - - - - - - - - */
.restaurant-area-title {
  left: -100px;
  margin: 30px 0 16px;
}

.restaurant {
  box-sizing: border-box;
  width: 340px;
}

.restaurant--a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.restaurant--figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 171px;
  margin: 0;
}

.restaurant--img {
  width: 100%;
  /*height: 231px;*/
  vertical-align: middle;
  object-fit: cover;
  object-position: 100% -44px;
  flex: 1;
  border-radius: 15px 15px 0 0;
}

.restaurant--la-note {
  object-position: 100% -150px;
  height: 183px;
}

.hide-new-restaurant-tag {
  object-position: 100% 150%;
  display: none;
}

.restaurant--tag-new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: rgb(153, 227, 208);
  color: #008766;
  text-align: center;
  line-height: 28px;
}

.restaurant--label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 88%;
  top: 10px;
  padding: 15px 20px 0px;
  margin: 0;
}

.restaurant--label-info {
  align-items: flex-start;
  padding-bottom: 0;
  line-height: 0px;
}

.restuarant--label-info-p {
  padding-top: 5px;
  font-weight: 300;
  font-size: 17px;
}

/*- - - - - - - - - - - Restaurants ends - - - - - - - - - - - - - - - */
/*- - - - - - - - - - - - - - - Main ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Footer starts - - - - - - - - - - - - - - -*/
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-a {
  display: flex;
  gap: 15px;
}

.footer--title {
  margin: 0;
  height: 17px;
  padding-bottom: 16px;
  font-family: "Shrikhand", sans-serif;
}

/*- - - - - - - - - - - - - - - Footer ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Modules ends */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (min-width: 376px) and (max-width: 768px) {
  /* Ajustements généraux pour les tablettes */
  body {
    padding: 10px; /* Marge intérieure réduite pour les écrans plus petits */
  }
  .l-header {
    display: flex;
    justify-content: center;
    left: 0;
  }
  .l-hero-div, .l-restaurant {
    padding-bottom: 30px; /* Ajout d'un espace en bas pour améliorer la lisibilité */
  }
  .l-footer {
    width: auto; /* Ajustement de la largeur pour s'adapter à l'écran plus petit */
  }
  .l-restaurant {
    gap: 20px;
  }
  /* Ajustements spécifiques pour les composants */
  .btn {
    width: 60%; /* Bouton prend toute la largeur de l'écran */
  }
  .steps-area--title {
    width: 90%;
    left: 0; /* Centrer le titre des étapes */
  }
  .wraper-steps-boxes {
    width: 90%;
  }
  .steps-box {
    width: 70%; /* Boîte d'étapes prend toute la largeur de l'écran */
    margin-left: 15%;
    gap: 25px;
  }
  .restaurant {
    width: 90%;
    height: auto;
  }
  .restaurant-area-title {
    width: 90%;
    left: 0;
    padding: 30px 0 0;
  }
  .restaurant--a {
    position: relative;
    height: auto;
    align-items: center;
  }
  .restaurant--a-la-note {
    margin-top: 37px;
    height: 370px;
  }
  .restaurant--figure {
    height: 300px;
  }
  .restaurant--fig {
    height: 100%;
  }
  .restaurant--img {
    height: auto;
    object-position: 100% -110px;
  }
  .restaurant--la-note {
    object-position: 100% -320px;
    overflow-y: hidden;
  }
  .restaurant--label {
    top: 35px;
    width: 90%;
    padding: 20px 0;
  }
  .restaurant--label-la-note {
    top: 0px;
  }
  .restaurant--label-info {
    line-height: 10px;
  }
  .like-area {
    top: -35px;
  }
  .like-area--la-note {
    top: -70px;
  }
  .restaurant--tag-new {
    display: none; /* Masquer la balise "nouveau" sur les écrans plus petits */
  }
  .footer-a {
    padding-left: 30px;
  }
  .footer-links {
    align-items: left; /* Centrer les liens du pied de page */
  }
}

/*# sourceMappingURL=style.css.map */
