@charset "UTF-8";
body {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

/* Shrikhand font */
@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Roboto font */
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap") format("woff2");
  font-weight: 300;
  font-style: normal;
}
body h1, body h2, body h3, body p {
  font-family: "Roboto", sans-serif; /* For headings */
}
body h1, body h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}
body h3 {
  font-size: 18px;
  line-height: 21.09px;
}
body p {
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}

/*body {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}*/
h1 {
  margin-bottom: 0;
  width: 90%;
  font-family: "Shrikhand";
  color: black;
}

/*h2, h3 {
    font-family: 'Roboto', sans-serif;
}*/
/*h2 {
    font-weight: 300;
}*/
/*:root {
    --main-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    font-family: 'Roboto', sans-serif;
}*/
.btn-shadow {
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.fa-circle-check {
  color: var(--tertiary-color);
}

.fa-utensils .fa-handshake {
  color: #fafafa;
}

.fa-arrow-left {
  color: black;
}

/* Like button starts */
.heart-btn--rest {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  top: 9px;
}

.heart-btn--rest .like-btn--rest {
  box-sizing: border-box;
  position: relative;
  fill: transparent;
  background: transparent;
  outline: none;
  border: none;
  width: 33px;
  height: 32px;
}

.input-rest {
  position: absolute;
  top: 0px;
  margin-left: 3px;
  width: 32px;
  height: 27px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.like-size--rest {
  width: 34px;
  height: 32px;
  font-size: 30px;
}

.is-liked-rest-mob {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  z-index: 1;
  background-clip: content-box;
  color: transparent;
  background-image: linear-gradient(rgb(146, 87, 219), rgb(255, 122, 217));
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
}

input[type=checkbox]:checked + .like-btn--rest::before,
input[type=checkbox]:checked + .like-btn--rest::after {
  animation: ease-in 0.4s forwards;
}

input[type=checkbox]:checked + .like-btn--rest > .is-liked-rest-mob {
  display: block;
  transition: all 1s;
}

input[type=checkbox]:checked + .like-btn--rest > .like-rest {
  display: none;
  transition: all 1s;
}

.central-title {
  box-sizing: border-box;
}

/* Like button ends */
/* Header starts */
.header-rest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  height: 63px;
  margin-left: 3%;
  align-items: center;
  position: relative;
}

.header-img-rest {
  position: relative;
  width: 162px;
  margin-left: 35%;
}

/* Header ends */
/* Main starts */
.main-rest {
  box-sizing: border-box;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: black;
}

.central-photo {
  box-sizing: border-box;
  width: auto;
  height: 275px;
}

.central-photo img {
  width: 100%;
  object-fit: cover;
  position: center;
}

.central-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  top: -60px;
  padding: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background: #F6F6F6;
}

.central-zone {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: -20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 17px;
  padding: 0 0 20px 0;
}

.titles-plats {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.downline-title-plats {
  width: 40px;
  border-bottom: #99E2D0 solid 4px;
}

.plat {
  box-sizing: border-box;
  width: 349px;
  height: 69px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
}

.animation-appearing {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Defined the animation fto make appears the class .plat*/
@keyframes fadeInFromBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Applying animation for .plat class*/
.animation-appearing {
  animation: fadeInFromBottom 2s ease-in-out forwards;
  /* You can adjust the delay if needed */
  animation-delay: 0.2s;
}

/*
input.checking-plat {
    width: 100%;
    height: 69px;
}*/
.label-rest {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 69px;
  border: none;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.plat-name {
  margin: 0;
  padding: 10px 10px 12px 10px;
  font-size: 18px;
  font-weight: 500;
}

.checked-plat {
  position: relative;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s;
  margin-right: 0;
}

.checked-plat-btn:hover .checked-plat {
  min-width: 80%;
  transition: all ease-in-out 2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.plat-description {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px 10px 10px;
  margin-bottom: 0;
  height: 19px;
  font-size: 15.04px;
  font-weight: 300;
}

.plat-description p:nth-last-child(1) {
  font-size: 15px;
  font-weight: 700;
}

.choiced-plat {
  position: relative;
  left: 1px;
  background-color: #99E2D0;
  width: 69px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  text-align: center;
  /* Positionnement initial en dehors de la vue */
  /*transform: translateX(100%);*/
}

.circled-choiced {
  position: relative;
  color: #99e2d0;
  top: 25px;
  left: 0px;
  background: white;
  border-radius: 25px;
}

.last-item-of-group {
  margin-bottom: 30px;
}

/* Animation selected plat starts */
/* Animation selected plat ends */
/* Footer starts */
footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 375px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  background-color: #353535;
  color: white;
}

footer a {
  display: flex;
  gap: 15px;
}

footer a h3 {
  margin: 0;
  height: 17px;
  padding-bottom: 16px;
  font-family: "Shrikhand";
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* Footer ends */
@media (min-width: 376px) and (max-width: 1079px) {
  .header-arrow {
    position: relative;
  }
  .central-photo {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .central-photo img {
    display: flex;
    object-position: 100% -66px;
  }
  .central-title {
    justify-content: space-around;
    top: -70px;
    width: -webkit-fill-available;
    border-top-right-radius: 65px;
    border-top-left-radius: 65px;
  }
  .restaurant-title {
    width: auto;
  }
  .input-rest {
    margin-left: 35px;
  }
  .section-rest {
    width: 90%;
    margin-top: -4vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .central-zone {
    position: relative;
    width: 100%;
  }
  .menu {
    width: 100%;
    padding-left: 20%;
  }
  .plat {
    width: 80%;
  }
  .checked-plat {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .main-rest {
    background-color: white;
  }
  .central-title {
    top: -40px;
    width: 1055px;
  }
  .restaurant-title {
    width: auto;
    text-align: center;
    padding-left: 34%;
  }
  .heart-btn--rest {
    padding-right: 25%;
  }
  .section-rest {
    width: 1055px;
    background-color: #F6F6F6;
  }
  .central-photo {
    height: auto;
  }
  .la-note {
    height: auto;
  }
  .central-zone {
    width: 634px;
    padding-left: 210.5px;
  }
  .menu, .plat {
    width: 100%;
  }
  .checked-plat-btn:hover .checked-plat {
    min-width: 90%;
  }
}
.btn {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(rgb(255, 122, 217), rgb(146, 87, 219));
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.btn:hover {
  background: linear-gradient(#9257db, #ff7ad9);
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.25);
  transition: all 2ms;
}

.l-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100vw;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
}

.l-header {
  position: relative;
  top: 14px;
  height: 63px;
  text-align: center;
}

.l-hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 56px;
}

.l-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

.l-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 59px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*Base starts*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - -  Composants starts - - - - */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255); /* Fond semi-transparent pour le loader */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s forwards; /* Animation de disparition après 3 secondes */
  z-index: 100;
}

.loader {
  border: 8px solid rgb(235, 235, 235);
  border-top: 8px solid rgb(255, 122, 217); /* Couleur principale 2 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    display: none;
  }
}
* h1 h2 h3 {
  font-family: "Shrikhand", sans-serif;
  color: rgb(0, 0, 0);
}

.steps-box, .btn {
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.15);
}

a {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.fa-regular {
  font-size: px;
  /*color: rgba(0, 0, 0, 1)*/
}

.posrel {
  position: relative;
}

/* - - - - - - - - - - - - - - Like button starts — - - - - - - - - - - - - - -  */
input[type=checkbox] {
  top: -5px;
  left: -1px;
  z-index: 2;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  cursor: pointer;
}

.is-liked {
  display: none;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 1px;
  background-clip: content-box;
  color: transparent;
  background-image: linear-gradient(rgb(146, 87, 219), rgb(255, 122, 217));
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
}

.like-area {
  top: -52px;
  left: 77vw;
}

.btn-like {
  box-sizing: border-box;
  position: relative;
  top: -40px;
  left: 0px;
  outline: none;
  border: none;
  fill: transparent;
  background: transparent;
}

.like {
  display: block;
  top: -3px;
  left: -5px;
}

.like-size {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

input[type=checkbox]:checked + .btn-like::before {
  animation: ease-in 0.4s forwards;
}
input[type=checkbox]:checked + .btn-like::after {
  animation: ease-in 0.4s forwards;
}
input[type=checkbox]:checked + * .is-liked {
  display: block;
  transition: all 2s;
}
input[type=checkbox]:checked + * .like {
  display: none;
  transition: all 2s;
}

/* - - - - - - - - - - - - - - Like button ends — - - - - - - - - - - - - - -  */
/* - - - -  Composants ends - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Base ends */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Modules starts */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/*- - - - - - - - - - - - - - - Header begins - - - - - - - - - - - - - - -*/
.logo--img {
  width: 197px;
  height: 36px;
  object-fit: contain;
}

/*- - - - - - - - - - - - - - - Header ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Main starts - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Steps starts - - - - - - - - - - - - - - -*/
.homepage-location-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 23px 0;
  width: 100%;
  gap: 17px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0px 2px 5px -5px;
}

.main-title {
  width: 275px;
  padding-top: 39px;
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.subhead {
  padding: 18px 0 28px 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.steps-area {
  background-color: rgb(255, 255, 255);
}

.steps-area--title {
  position: relative;
  width: 90%;
  padding: 28px 0 0 0;
  margin-bottom: 33px;
}

.wraper-steps-boxes {
  width: 75%;
}

.container-steps-box {
  display: flex;
  flex-direction: column;
}

.steps-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 97%;
  margin-bottom: 22px;
  margin-left: 10px;
  height: 73px;
  border-radius: 20px;
  border: none;
  background: rgb(245, 245, 245);
}

.steps-box--number {
  position: relative;
  width: 24px;
  height: 24px;
  left: -16px;
  border-radius: 50%;
  background-color: rgb(146, 87, 219);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14.2px;
  line-height: 24.62px;
}

.steps-box--icon {
  padding-right: 28px;
}

.steps-box--instruction {
  font-size: 16px;
  font-weight: 500;
}

/*- - - - - - - - - - - - - - - Steps ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - Restaurants starts - - - - - - - - - - - - - - - */
.restaurant-area-title {
  left: -100px;
  margin: 30px 0 16px;
}

.container-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.restaurant {
  box-sizing: border-box;
  width: 90vw;
  margin-bottom: -3vh;
}

.restaurant--a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 251px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.restaurant--figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 10px;
  margin: 0;
}

picture {
  display: flex;
  top: 0;
}

.restaurant--img {
  width: 100%;
  min-height: 183px;
  vertical-align: middle;
  object-fit: cover;
  flex: 1;
  border-radius: 15px 15px 0 0;
}

.hide-new-restaurant-tag {
  object-position: 100% 150%;
  display: none;
}

.restaurant--tag-new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: rgb(153, 227, 208);
  color: #008766;
  text-align: center;
  line-height: 28px;
}

.restaurant--label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 88%;
  top: 5px;
  padding: 0 20px 0;
  margin: 0;
}

.restaurant--label-info {
  align-items: flex-start;
  padding-bottom: 0;
}

.title-h3-hp {
  margin-bottom: -12px;
}

.restuarant--label-info-p {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
}

/*- - - - - - - - - - - Restaurants ends - - - - - - - - - - - - - - - */
/*- - - - - - - - - - - - - - - Main ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - Footer starts - - - - - - - - - - - - - - -*/
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-a {
  display: flex;
  gap: 15px;
}

.footer-a:hover {
  box-shadow: 0px 30px 100px 0px rgba(250, 250, 250, 0.15);
}

.footer--title {
  margin: 0;
  height: 17px;
  padding-bottom: 16px;
  font-family: "Shrikhand", sans-serif;
}

/*- - - - - - - - - - - - - - - Footer ends - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - - - - -  - - - -  - - - - - - - - - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Modules ends */
/* - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (min-width: 376px) and (max-width: 1079px) {
  /* Ajustements généraux pour les tablettes */
  body {
    padding: 10px; /* Marge intérieure réduite pour les écrans plus petits */
  }
  .l-hero-div, .l-restaurant {
    padding-bottom: 30px; /* Ajout d'un espace en bas pour améliorer la lisibilité */
  }
  .l-footer {
    width: auto; /* Ajustement de la largeur pour s'adapter à l'écran plus petit */
  }
  .l-restaurant {
    gap: 20px;
  }
  /* Ajustements spécifiques pour les composants */
  .btn {
    width: 60%; /* Bouton prend toute la largeur de l'écran */
  }
  .wraper-steps-boxes {
    width: 90%;
  }
  .steps-area--title {
    width: 90%;
    left: 0; /* Centrer le titre des étapes */
  }
  .container-steps-box {
    width: 100%;
  }
  .steps-box {
    width: unset; /* Boîte d'étapes prend toute la largeur de l'écran */
    gap: 10px;
  }
  .restaurant {
    width: 90%;
    margin-bottom: 0;
  }
  .restaurant-area-title {
    width: 90%;
    left: 0;
    padding: 30px 0 0;
  }
  .restaurant--a {
    position: relative;
    height: unset;
    top: 0;
    align-items: center;
  }
  .restaurant--figure {
    height: 100%;
    top: 0;
  }
  .restaurant--img {
    object-position: 100% -40px;
  }
  .restaurant--label {
    top: -3vh;
    width: 90%;
  }
  .title-h3-homepage {
    margin-bottom: auto;
  }
  .restuarant--label-info-p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .like-area {
    top: -6.5vh;
    left: 85%;
  }
  .restaurant--tag-new {
    display: none; /* Masquer la balise "nouveau" sur les écrans plus petits */
  }
  .footer-a {
    padding-left: 30px;
  }
  .footer-links {
    align-items: left; /* Centrer les liens du pied de page */
  }
}
@media (min-width: 1080px) {
  .body {
    overflow-x: hidden;
    background-color: white;
  }
  .main-title {
    width: 80%;
    font-size: 40px;
    padding: 40px;
  }
  .container-steps-box {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .steps-box {
    width: -webkit-fill-available;
  }
  .l-restaurant {
    align-items: center;
  }
  .container-restaurants {
    flex-flow: row wrap;
    justify-content: space-between;
    top: 17px;
    max-width: 75%;
    gap: 5%;
  }
  .restaurant-area-title {
    left: -32%;
  }
  .restaurant {
    max-width: 490px;
    max-height: 251px;
    margin-bottom: 7%;
    flex: 1 1 380px;
  }
  .restaurant--a {
    max-width: 100%;
  }
  .restaurant--figure {
    height: inherit;
    top: 6px;
  }
  .restaurant--img-a-l-f {
    object-position: 24%;
  }
  .restaurant--label {
    top: 0px;
  }
  .restuarant--label-info-p {
    padding-bottom: 0;
  }
  .like-area {
    top: -52px;
    left: 87%;
  }
  .l-footer {
    max-width: 1440px;
  }
  .footer-links {
    flex-direction: row-reverse;
  }
  .footer-wraper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
