/* Shrikhand font */

@font-face {
    font-family: 'Shrikhand';
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap') format('woff2');
    font-weight: 400;
    font-style: normal;
}

  /* Roboto font */

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap') format('woff2');
    font-weight: 300;
    font-style: normal;
}