
@media (min-width: 376px) and (max-width: 1079px) {
    header {
        justify-content: center;
        width: 100%;
        left: 0;
    }
    
    .header-arrow {
        position: relative;
    }
    
    .central-photo {
        display: flex;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .central-photo img {
        display: flex;
        object-position: 100% -66px;
    }
    
    .central-title {
        justify-content: space-around;
        top: -100px;
        width: -webkit-fill-available;
        border-top-right-radius: 65px;
        border-top-left-radius: 65px;
    }
    
    .restaurant-title {
        width: auto;
    }
    
    main section {
        width: 90%;
        margin-top: -4vh;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    
    .central-zone {
        position: relative;
        width: 100%;
    }
    
    .menu {
        width: 100%;
        padding-left: 25%;
    }
    
    .plat {
        width: 100%;
    }
    
    .checked-plat {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width:768px) {
    
}