@import '../components/variables';
@import '../responsive.scss';

/* Layout */
@media (min-width: 376px) and (max-width: $breakpoint-medium) {

.header-arrow {
    position: relative;
    }    

.central-title {
    justify-content: center;
    margin-top: -30px;
    
}

.central-photo {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.central-photo img {
    max-height: 360px;
}

.la-note {
    height: auto;
}

.input-rest {
    margin-left: 22px;
    }
    

.menu, .plat {
    width: 100%;
}

.checked-plat-btn:hover .checked-plat {
    min-width: 90%;
}
}

@media (min-width: 1080px) {
/* Module */
.main-rest {
    background-color: white;
}

.central-title {
    width: 1055px;
    top: 0;
    margin-top: -30px;
    
}

.central-photo {
    height: auto;
}

.restaurant-title {
    text-align: center;
    padding-left: 34%;
}

.input-rest {
    margin-left: 33px;
}

.heart-btn--rest {
    padding-right: 25%;
}

.section-rest {
    width: 1055px;

    background-color: #F6F6F6;
}

.central-zone {
    width: 634px;
    top: -20px;
    padding-left: 210.5px;
}

.checked-plat-btn:hover .checked-plat {
    min-width: 90%;
}

}
